.navbar {
    .navContainer {
        .navbar-nav {
            @media (max-width: 991px) {
                width: 50%;
            }
        }
        .upperLogo {
            @media (max-width: 991px) {
                width: 50%;
            }
            @media (min-width: 992px) {
                display: none;
            }
        }
    }
    .navbar-toggler {
        background-color: #eeeeee61;
    }
    .container {
        a {
            color: #fff;
        }
    }
}

.section-dropdown {
    background-color: #696969 !important;
}
