.intro {
    background: url(../../../../public/hero_bg.jpeg) center/cover;
    height: 100vh;
    color: #fff;

    .content {
        padding-top: 50px;

        .images {
            margin-top: 100px;
        }
    }
}
