<app-nav />
<div class="container mt-5 products">
    <div class="row">
        <div class="col-lg-3 col-12 filters">
            <div class="filter-panel card p-3 mb-3">
                <h2 class="text-center">{{ 'categories' | translate }}</h2>

                <!-- Fabric Dropdown -->
                <div *ngIf="showFabricDropdown()" class="dropdown-center">
                    <button class="bg-transparent border-0 dropdown-toggle w-100" data-bs-toggle="dropdown">
                        {{ 'fabric' | translate }}
                    </button>
                    <ul class="dropdown-menu text-center">
                        <li *ngFor="let category of fabricCategories" (click)="filterByCategory(category)"
                            class="dropdown-item" [value]="category">
                            {{ category | translate }}
                        </li>
                    </ul>
                </div>

                <!-- Makhawer Dropdown -->
                <div *ngIf="showMakhawerDropdown()" class="dropdown-center">
                    <button class="bg-transparent border-0 dropdown-toggle w-100" data-bs-toggle="dropdown">
                        {{ 'makhawer' | translate }}
                    </button>
                    <ul class="dropdown-menu text-center">
                        <li *ngFor="let category of makhawerCategories" (click)="filterByCategory(category)"
                            class="dropdown-item" [value]="category">
                            {{ category | translate }}
                        </li>
                    </ul>
                </div>

                <!-- Abaya Dropdown -->
                <div *ngIf="showAbayaDropdown()" class="dropdown-center">
                    <button class="bg-transparent border-0 dropdown-toggle w-100" data-bs-toggle="dropdown">
                        {{ 'abaya' | translate }}
                    </button>
                    <ul class="dropdown-menu text-center">
                        <li *ngFor="let category of abayaCategories" (click)="filterByCategory(category)"
                            class="dropdown-item" [value]="category">
                            {{ category | translate }}
                        </li>
                    </ul>
                </div>

                <!-- International Designs Dropdown -->
                <div *ngIf="showInternationalDesignsDropdown()" class="dropdown-center">
                    <button class="bg-transparent border-0 dropdown-toggle w-100" data-bs-toggle="dropdown">
                        {{ 'internationalDesigns' | translate }}
                    </button>
                    <ul class="dropdown-menu text-center">
                        <li *ngFor="let category of internationalDesignsCategories" (click)="filterByCategory(category)"
                            class="dropdown-item" [value]="category">
                            {{ category | translate }}
                        </li>
                    </ul>
                </div>

            </div>


            <!-- <div class="card p-3 my-3">
                <h2 class="text-center">{{'priceRange' | translate}}</h2>
                <label class="text-center">
                    <input type="checkbox" checked>
                    $20.00 - $50.00
                </label>
                <label class="text-center">
                    <input type="checkbox">
                    $20.00 - $50.00
                </label>
                <label class="text-center">
                    <input type="checkbox">
                    $20.00 - $50.00
                </label>
                <label class="text-center">
                    <input type="checkbox">
                    $20.00 - $50.00
                </label>
            </div> -->
        </div>
        <div class="col-lg-9 col-12">
            <h2>{{"productsTitle" | translate}} {{currentPath() | translate}}</h2>
            <div class="search-bar">
                <input type="text" placeholder="{{'searchAnItem' | translate}}">
                <div class="image_container">
                    <img src="icons/search.png" alt="icon">
                </div>
            </div>
            <h5 class="fw-bold">{{'showingNumber' | translate}}</h5>
            <p>{{'showingDesc' | translate}}</p>
            @if (itemCategories().length > 0) {
            @for (category of itemCategories(); track $index) {
            @if (!selectedCategory() || category === selectedCategory()) {

            <h2 class="text-center fw-bold text-bg-secondary my-3 p-2" [id]="itemCategories()[$index]">{{category |
                uppercase}}</h2>
            <div class="row">
                @for (product of filteredProducts(); track $index) {
                <div class="col-md-4 col-12">
                    <app-product-card [product]="product"></app-product-card>
                </div>
                }
                <div class="col-12">
                    <div class="load-more">
                        <p class="item-count">{{'showingNumber' | translate}}</p>
                        <div class="separator">
                            <div></div>
                        </div>
                        <button class="load-more-btn">
                            {{'loadMore' | translate}}
                            <img src="icons/arrow_right_light.png" alt="icon">
                        </button>
                    </div>
                </div>
            </div>
            }
            }
            }
            @else {
            <div class="row">
                @for (product of filteredProducts(); track $index) {
                <div class="col-md-4 col-12">
                    <app-product-card [product]="product"></app-product-card>
                </div>
                }
                <div class="col-12">
                    <div class="load-more">
                        <p class="item-count">{{'showingNumber' | translate}}</p>
                        <div class="separator">
                            <div></div>
                        </div>
                        <button class="load-more-btn">
                            {{'loadMore' | translate}}
                            <img src="icons/arrow_right_light.png" alt="icon">
                        </button>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>