<app-nav />
<div class="container mt-5 products">
    <div class="row">
        <div class="col-lg-3 col-12 filters">
            <div class="filter-panel card p-3 mb-3">
                <h2 class="text-center">{{'categories' | translate}}</h2>
                <div class="dropdown-center">
                    <button class="bg-transparent border-0 dropdown-toggle w-100" data-bs-toggle="dropdown">
                        {{'fabric' | translate}}
                    </button>
                    <ul class="dropdown-menu text-center">
                        <li class="dropdown-item" value="cotton">{{'cotton' | translate}}</li>
                        <li class="dropdown-item" value="silk">{{'silk' | translate}}</li>
                        <li class="dropdown-item" value="others">{{'others' | translate}}</li>
                    </ul>
                </div>
                <div class="dropdown-center">
                    <button class="bg-transparent border-0 dropdown-toggle w-100" data-bs-toggle="dropdown">
                        {{'makhawer' | translate}}
                    </button>
                    <ul class="dropdown-menu text-center">
                        <li class="dropdown-item" value="women">{{'women' | translate}}</li>
                        <li class="dropdown-item" value="girls">{{'girls' | translate}}</li>
                        <li class="dropdown-item" value="kids">{{'kids' | translate}}</li>
                    </ul>
                </div>
                <div class="dropdown-center">
                    <button class="bg-transparent border-0 dropdown-toggle w-100" data-bs-toggle="dropdown">
                        {{'abaya' | translate}}
                    </button>
                    <ul class="dropdown-menu text-center">
                        <li class="dropdown-item" value="abaya">{{'abaya' | translate}}</li>
                        <li class="dropdown-item" value="scarves">{{'scarves' | translate}}</li>
                    </ul>
                </div>
                <div class="dropdown-center">
                    <button class="bg-transparent border-0 dropdown-toggle w-100" data-bs-toggle="dropdown">
                        {{'gulfDesigns' | translate}}
                    </button>
                    <ul class="dropdown-menu text-center"></ul>
                </div>
                <div class="dropdown-center">
                    <button class="bg-transparent border-0 dropdown-toggle w-100" data-bs-toggle="dropdown">
                        {{'internationalDesigns' | translate}}
                    </button>
                    <ul class="dropdown-menu text-center">
                        <li class="dropdown-item" value="western">{{'western' | translate}}</li>
                        <li class="dropdown-item" value="eastern">{{'eastern' | translate}}</li>
                        <li class="dropdown-item" value="asian">{{'asian' | translate}}</li>
                        <li class="dropdown-item" value="morocco">{{'morocco' | translate}}</li>
                    </ul>
                </div>
            </div>
            <div class="card p-3 my-3">
                <h2 class="text-center">{{'priceRange' | translate}}</h2>
                <label class="text-center">
                    <input type="checkbox" checked>
                    $20.00 - $50.00
                </label>
                <label class="text-center">
                    <input type="checkbox">
                    $20.00 - $50.00
                </label>
                <label class="text-center">
                    <input type="checkbox">
                    $20.00 - $50.00
                </label>
                <label class="text-center">
                    <input type="checkbox">
                    $20.00 - $50.00
                </label>
            </div>
        </div>
        <div class="col-lg-9 col-12">
            <h2>{{"productsTitle" | translate}} {{currentPath | translate}}</h2>
            <div class="search-bar">
                <input type="text" placeholder="{{'searchAnItem' | translate}}">
                <div class="image_container">
                    <img src="icons/search.png" alt="icon">
                </div>
            </div>
            <h5 class="fw-bold">{{'showingNumber' | translate}}</h5>
            <p>{{'showingDesc' | translate}}</p>
            <div class="row">
                @for (product of products; track $index) {
                <div class="col-md-4 col-12">
                    <app-product-card [product]="product" />
                </div>
                }
                <div class="col-12">
                    <div class="load-more">
                        <p class="item-count">{{'showingNumber' | translate}}</p>
                        <div class="separator">
                            <div></div>
                        </div>
                        <button class="load-more-btn">
                            {{'loadMore' | translate}}
                            <img src="icons/arrow_right_light.png" alt="icon">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>