<div class="popular_products my-5">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="section_title">
                <h2 class="fw-bold">Most Popular Products</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla nunc in molestie feugiat.
                    Nunc
                    auctor consectetur elit, quis pulvina.</p>
            </div>
            <div>
                <button class="view_all_btn">
                    View All
                    <img src="/icons/arrow_right_light.png" alt="">
                </button>
            </div>
        </div>
        <div class="row">
            @for (product of products; track $index) {
            <div class="col-md-3 col-12">
                <app-product-card [product]="product"/>
            </div>
            }
        </div>
    </div>
</div>