<div class="popular_products my-5">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="section_title">
                <h2 class="fw-bold">{{'popularProductsTitle'|translate}}</h2>
                <p>{{'popularProductsDesc'| translate}}</p>
            </div>
            <div>
                <button class="view_all_btn">
                    {{'view_all'| translate}}
                    <img src="/icons/arrow_right_light.png" alt="icon">
                </button>
            </div>
        </div>
        <div class="row">
            @for (product of products; track $index) {
            <div class="col-md-3 col-12">
                <app-product-card [product]="product" />
            </div>
            }
        </div>
    </div>
</div>