<div class="categories text-center my-5">
    <div class="container">
        <div class="section_title">
            <h2 class="fw-bold">View Our Range Of Categories</h2>
            <p class="w-50 fw-light mx-auto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
        </div>
        <div class="row my-3">
            <div class="col-md-4 col-12">
                <img src="/homepage/categories/1.png" class="w-100" alt="Product">
            </div>
            <div class="col-md-4 col-12">
                <img src="/homepage/categories/2.png" class="mb-3 w-100" alt="Product">
                <img src="/homepage/categories/3.png" class="mt-3 w-100" alt="Product">
            </div>
            <div class="col-md-4 col-12">
                <img src="/homepage/categories/1.png" class="w-100" alt="Product">
            </div>
        </div>
    </div>
</div>