<a routerLink="/single_product">
    <div class="product my-3">
        <div class="position-relative">

            <img [src]="'homepage/products/'+product.image + '.png'" class="product_image" alt="product image">
            @if (product.saleAmount === undefined || product.saleAmount > 0 ) {
            <div class="cart_icon position-absolute">
                <img src="icons/cart2.png" alt="Icon">
            </div>
            }
            @if (product.saleAmount !== undefined && product.saleAmount > 0) {
            <button class="sale_amount btn btn-danger rounded-4">{{'sale' | translate}} {{product.saleAmount}}%</button>
            }
            @else if (product.saleAmount !== undefined && product.saleAmount < 0 ) { <div class="discount">
                {{product.saleAmount}}%
        </div>
        }
    </div>
    <div class="product_info p-2">
        <h4 class="fw-light mt-3">{{translateHelper.currentLang === 'en'? product.name : product.arName}} ....</h4>
        <div>
            <a [href]="'https://wa.me/+971582129992?text=Hi, I am interested in this product ID : ' + product.id"
                target="_blank" class="text-white btn btn-success">
                <i class="bi bi-whatsapp mx-2"></i>WhatsApp
            </a>
        </div>
    </div>
    </div>
</a>