<div class="sale py-5">
    <div class="container">
        <div class="d-flex justify-content-between section_title flex-wrap flex-lg-nowrap">
            <h2 class="fw-bold">{{'onSale' | translate}}</h2>
            <p>{{'saleDesc'|translate}}</p>
        </div>
        <div class="row">
            @for (product of products; track $index) {
            <div class="col-md-3 col-12">
                <app-product-card [product]="product" />
            </div>
            }
        </div>
    </div>
</div>