<div class="sale py-5">
    <div class="container">
        <div class="d-flex justify-content-between">
            <h2 class="fw-bold">ON-SALE Products</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla nunc in molestie feugiat. Nunc
                auctor consectetur elit, quis pulvina.</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="product">
                    <div class="position-relative">
                        <img src="homepage/sale/1.png" class="product_image" alt="product image">
                        <div class="cart_icon position-absolute">
                            <img src="icons/cart2.png" alt="Icon">
                        </div>
                        <button class="sale_amount btn btn-danger rounded-4">Sale 13%</button>
                    </div>
                    <div class="product_info">
                        <h4 class="fw-light mt-3">Long Sleeve Stain Abaya ....</h4>
                        <div class="d-flex justify-content-between">
                            <div class="price">
                                <del class="me-2">$230</del>
                                <span class="fw-bold">$300</span>
                            </div>
                            <img src="icons/plus.png" alt="icon" class="add">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="product">
                    <div class="position-relative">
                        <img src="homepage/sale/1.png" class="product_image" alt="product image">
                        <div class="cart_icon position-absolute">
                            <img src="icons/cart2.png" alt="Icon">
                        </div>
                        <button class="sale_amount btn btn-danger rounded-4">Sale 13%</button>
                    </div>
                    <div class="product_info">
                        <h4 class="fw-light mt-3">Long Sleeve Stain Abaya ....</h4>
                        <div class="d-flex justify-content-between">
                            <div class="price">
                                <del class="me-2">$230</del>
                                <span class="fw-bold">$300</span>
                            </div>
                            <img src="icons/plus.png" alt="icon" class="add">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="product">
                    <div class="position-relative">
                        <img src="homepage/sale/1.png" class="product_image" alt="product image">
                        <div class="cart_icon position-absolute">
                            <img src="icons/cart2.png" alt="Icon">
                        </div>
                        <button class="sale_amount btn btn-danger rounded-4">Sale 13%</button>
                    </div>
                    <div class="product_info">
                        <h4 class="fw-light mt-3">Long Sleeve Stain Abaya ....</h4>
                        <div class="d-flex justify-content-between">
                            <div class="price">
                                <del class="me-2">$230</del>
                                <span class="fw-bold">$300</span>
                            </div>
                            <img src="icons/plus.png" alt="icon" class="add">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="product">
                    <div class="position-relative">
                        <img src="homepage/sale/1.png" class="product_image" alt="product image">
                        <div class="cart_icon position-absolute">
                            <img src="icons/cart2.png" alt="Icon">
                        </div>
                        <button class="sale_amount btn btn-danger rounded-4">Sale 13%</button>
                    </div>
                    <div class="product_info">
                        <h4 class="fw-light mt-3">Long Sleeve Stain Abaya ....</h4>
                        <div class="d-flex justify-content-between">
                            <div class="price">
                                <del class="me-2">$230</del>
                                <span class="fw-bold">$300</span>
                            </div>
                            <img src="icons/plus.png" alt="icon" class="add">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>