<footer class="mt-5 py-4">
    <div class="container pb-5">
        <div class="footer_header m-auto text-center">
            <img src="/logo.png" class="text-center" alt="Logo">
            <h3 class="mt-4">{{'footerSubscription'| translate}}.</h3>
            <div class="search-bar">
                <input type="text" placeholder="person@email.com">
                <img src="/icons/arrow_right_light.png" alt="Icon">
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-3 mt-5">
                <div class="content">
                    <h5 class="uppercase">{{'information' | translate}}</h5>
                    <ul class="text-capitalize fw-bold">
                        <li class="capitalize fw-bold">
                            <a href="#">{{'aboutUs'| translate}}</a>
                        </li>
                        <li class="capitalize fw-bold">
                            <a href="#">{{'sizeGuide'| translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-lg-3 mt-5">
                <div class="content">
                    <h5 class="uppercase">{{'myAccount'| translate}}</h5>
                    <ul class="text-capitalize fw-bold">
                        <li class="capitalize fw-bold">
                            <a href="#">{{'login'| translate}}</a>
                        </li>
                        <li class="capitalize fw-bold">
                            <a href="#">{{'createAccount'| translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-lg-3 mt-5">
                <div class="content">
                    <h5 class="uppercase">{{'costumerCare'| translate}}</h5>
                    <ul class="text-capitalize fw-bold">
                        <li class="capitalize fw-bold">
                            <a href="/assets/pdf/FAQnayelStyle.docx" download>{{'faq'| translate}}</a>
                        </li>
                        <li class="capitalize fw-bold">
                            <a href="#">{{'contactUs'| translate}}</a>
                        </li>
                        <li class="capitalize fw-bold">
                            <a href="/assets/pdf/privacyPolicy.docx" download>{{'privacyPolicy'| translate}}</a>
                        </li>
                        <li class="capitalize fw-bold">
                            <a href="/assets/pdf/shippingPolicy.docx" download>{{'shippingPolicy'| translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-lg-3 mt-5">
                <div>
                    <h5 class="uppercase">{{'costumerCare'| translate}}</h5>
                    <ul class="text-capitalize fw-bold">
                        <li class="capitalize fw-bold">
                            <a href="#">{{'customerFeedback'| translate}}</a>
                        </li>
                        <li class="capitalize fw-bold">
                            <a href="#">{{'complaintInquiryForm'| translate}}</a>
                        </li>
                        <li class="capitalize fw-bold">
                            <a [href]="'/assets/pdf/returnAndExchangePolicy'+  (isRtl ? '-ar.docx' : '.docx' )" download>{{'returnAndExchangePolicy'| translate}}</a>
                        </li>
                        <li class="capitalize fw-bold">
                            <a href="/assets/pdf/orderTracking.docx" download>{{'orderTracking'| translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy_rights text-center border-top mt-5 pt-4">
        {{'copyRights'| translate}}
    </div>
</footer>