<footer class="mt-5 py-4">
    <div class="container pb-5">
        <div class="w-50 m-auto text-center">
            <img src="/logo.png" class="text-center" alt="Logo">
            <h3 class="mt-4">Subscribe To Your Newsletter to Stay Updated About Discounts</h3>
            <div class="search-bar">
                <input type="text" placeholder="person@email.com">
                <img src="/icons/chevron_right_light.png" alt="Icon">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="content">
                    <h5>My Account</h5>
                    <ul class="text-capitalize">
                        <li>
                            <a href="#">about us</a>
                        </li>
                        <li>
                            <a href="#">company</a>
                        </li>
                        <li>
                            <a href="#">careers</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-12 col-md-3">
                <div class="content">
                    <h5>About NAyel Style</h5>
                    <ul class="text-capitalize">
                        <li>
                            <a href="#">Login</a>
                        </li>
                        <li>
                            <a href="#">Create Account</a>
                        </li>
                        <li>
                            <a href="#">Account info</a>
                        </li>
                        <li>
                            <a href="#">Order History</a>
                        </li>
                        <li>
                            <a href="#">Order Status</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="content">
                    <h5>Costumer Care</h5>
                    <ul class="text-capitalize">
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Contact us</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Shipping Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div>
                    <h5>Costumer Care</h5>
                    <ul class="text-capitalize">
                        <li>
                            <a href="#">Customer Feedback</a>
                        </li>
                        <li>
                            <a href="#">Complaint Inquiry Form</a>
                        </li>
                        <li>
                            <a href="#">Return and Exchange Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy_rights text-center border-top mt-5 pt-4">
        Nayel Style 2024 © All rights reserved - Abu Dhabi UAE
    </div>
</footer>