<footer class="mt-5 py-4">
    <div class="container pb-5">
        <div class="footer_header m-auto text-center">
            <img src="/logo.png" class="text-center" alt="Logo">
            <h3 class="mt-4">{{'footerSubscription'| translate}}</h3>
            <div class="search-bar">
                <input type="text" placeholder="person@email.com">
                <img src="/icons/arrow_right_light.png" alt="Icon">
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-3 mt-5">
                <div class="content">
                    <h5>{{'myAccount' | translate}}</h5>
                    <ul class="text-capitalize">
                        <li>
                            <a href="#">{{'aboutUs'| translate}}</a>
                        </li>
                        <li>
                            <a href="#">{{'company'| translate}}</a>
                        </li>
                        <li>
                            <a href="#">{{'careers'| translate}}</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-6 col-lg-3 mt-5">
                <div class="content">
                    <h5>{{'aboutNayelStyle'| translate}}</h5>
                    <ul class="text-capitalize">
                        <li>
                            <a href="#">{{'login'| translate}}</a>
                        </li>
                        <li>
                            <a href="#">{{'createAccount'| translate}}</a>
                        </li>
                        <li>
                            <a href="#">{{'accountInfo'| translate}}</a>
                        </li>
                        <li>
                            <a href="#">{{'orderHistory'| translate}}</a>
                        </li>
                        <li>
                            <a href="#">{{'orderStatus'| translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-lg-3 mt-5">
                <div class="content">
                    <h5>{{'costumerCare'| translate}}</h5>
                    <ul class="text-capitalize">
                        <li>
                            <a href="#">{{'faq'| translate}}</a>
                        </li>
                        <li>
                            <a href="#">{{'services'| translate}}</a>
                        </li>
                        <li>
                            <a href="#">{{'contactUs'| translate}}</a>
                        </li>
                        <li>
                            <a href="#">{{'privacyPolicy'| translate}}</a>
                        </li>
                        <li>
                            <a href="#">{{'shippingPolicy'| translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-lg-3 mt-5">
                <div>
                    <h5>{{'costumerCare'| translate}}</h5>
                    <ul class="text-capitalize">
                        <li>
                            <a href="#">{{'customerFeedback'| translate}}</a>
                        </li>
                        <li>
                            <a href="#">{{'complaintInquiryForm'| translate}}</a>
                        </li>
                        <li>
                            <a href="#">{{'returnAndExchangePolicy'| translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy_rights text-center border-top mt-5 pt-4">
        {{'copyRights'| translate}}
    </div>
</footer>