<app-nav />
<div class="container pt-5 single_product">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Product Listing</a></li>
            <img src="icons/arrow_right.png" class="arrow" width="8" alt="icon">
            <li class="breadcrumb-item active" aria-current="page">Dummy Product Page</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="row g-3">
                <div class="col-3">
                    <img src="frame.png" class="w-100 m-2 rounded-2" alt="Frame">
                    <img src="frame.png" class="w-100 m-2 rounded-2 border border-3  border-secondary" alt="Frame">
                    <img src="frame.png" class="w-100 m-2 rounded-2" alt="Frame">
                </div>
                <div class="col-9">
                    <img src="frame.png" class="w-100 m-2" alt="Frame">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 px-5 py-3">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="fw-bold">Long Sleeve Stain Abaya ....</h3>
                <img src="icons/heart.png" alt="Love icon">
            </div>
            <div class="d-flex align-items-center">
                <span class="fs-4">$45.98 | </span>
                <img src="icons/stars.png" class="mx-2" alt="Stars">
                ( 32 review )
            </div>
            <hr class="my-4">
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipi scing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magn. Lorem ipsum dolor sit amet, consectetuer adipi scing elit, sed diam nonummy nibh
                euismod tincidunt ut laoreet dolore magn.
            </p>
            <ul class="p-2">
                <li>Lorem ipsum dolor sit amet, adipi scing elit</li>
                <li>Lorem ipsum dolor sit amet, adipi scing elit</li>
                <li>Lorem ipsum dolor sit amet, adipi scing elit</li>
            </ul>
            <div class="calc_btn d-flex gap-3 mt-5  ">
                <div class="p-2 rounded-5 bg-transparent border-2 border-secondary border fs-4 flex-shrink-0">
                    <span (click)="decrease()">-</span>
                    <span>{{numOfProducts()}}</span>
                    <span (click)="increase()">+</span>
                </div>
                <button class="btn add_to_cart flex-grow-1">Add to Cart</button>
            </div>
            <button class="btn buy">Buy Now</button>
            <div class="my-3 mt-5">
                <img src="icons/car.png" class="me-3" alt="icon">
                <span>Free worldwide shipping on all orders over $100</span>
            </div>
            <div class="my-3">
                <img src="icons/delivary.png" class="me-3" alt="icon">
                <span>Delivers in: 3-7 Working Days Shipping & Return</span>
            </div>
        </div>
    </div>
</div>
<div class="description mt-5 py-4">
    <div class="container">

        <h3 class="mb-4"><b>Description</b> | Reviews</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</li>
        </ul>
    </div>
</div>
<div class="similar_projects">
    <div class="container">
        <h2>Similar Products</h2>
        <div class="row">
            @for (product of products; track $index) {
            <div class="col-md-3 col-12">
                <a routerLink="/single_product">
                    <app-product-card [product]="product" />
                </a>
            </div>
            }
        </div>
    </div>
</div>