<app-nav />


<div class="cart">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-12">
                <div class="table-responsive">
                    <div class="table_container">
                        <table class="table align-middle mb-0">
                            <thead>
                                <th></th>
                                <th class="w-50">Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="py-4 text-center">
                                        <img src="icons/x.png" alt="icon">
                                    </td>
                                    <td class="py-4 dark">
                                        <img src="icons/small_product.png" alt="product name">
                                        <span class="fw-normal ps-2">Double Bed & Dressing</span>
                                    </td>
                                    <td class="py-4 light">$180</td>
                                    <td class="py-4">
                                        <div
                                            class="d-flex justify-content-evenly rounded-5 bg-transparent border-2 border fs-5 w-75 p-1 px-2">
                                            <span>-</span>
                                            <span>1</span>
                                            <span>+</span>
                                        </div>
                                    </td>
                                    <td class="py-4 light">$180</td>
                                </tr>
                                <tr>
                                    <td class="py-4 text-center">
                                        <img src="icons/x.png" alt="icon">
                                    </td>
                                    <td class="py-4 dark">
                                        <img src="icons/small_product.png" alt="product name">
                                        <span class="fw-normal ps-2">Double Bed & Dressing</span>
                                    </td>
                                    <td class="py-4 light">$180</td>
                                    <td class="py-4">
                                        <div
                                            class="d-flex justify-content-evenly rounded-5 bg-transparent border-2 border fs-5 w-75 p-1 px-2">
                                            <span>-</span>
                                            <span>1</span>
                                            <span>+</span>
                                        </div>
                                    </td>
                                    <td class="py-4 light">$180</td>
                                </tr>
                                <tr>
                                    <td class="py-4 text-center">
                                        <img src="icons/x.png" alt="icon">
                                    </td>
                                    <td class="py-4 dark">
                                        <img src="icons/small_product.png" alt="product name">
                                        <span class="fw-normal ps-2">Double Bed & Dressing</span>
                                    </td>
                                    <td class="py-4 light">$180</td>
                                    <td class="py-4">
                                        <div
                                            class="d-flex justify-content-evenly rounded-5 bg-transparent border-2 border fs-5 w-75 p-1 px-2">
                                            <span>-</span>
                                            <span>1</span>
                                            <span>+</span>
                                        </div>
                                    </td>
                                    <td class="py-4 light">$180</td>
                                </tr>
                                <tr>
                                    <td class="py-4 text-center">
                                        <img src="icons/x.png" alt="icon">
                                    </td>
                                    <td class="py-4 dark">
                                        <img src="icons/small_product.png" alt="product name">
                                        <span class="fw-normal ps-2">Double Bed & Dressing</span>
                                    </td>
                                    <td class="py-4 light">$180</td>
                                    <td class="py-4">
                                        <div
                                            class="d-flex justify-content-evenly rounded-5 bg-transparent border-2 border fs-5 w-75 p-1 px-2">
                                            <span>-</span>
                                            <span>1</span>
                                            <span>+</span>
                                        </div>
                                    </td>
                                    <td class="py-4 light">$180</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12">
                <div class="table_container">
                    <table class="table align-middle mb-0">
                        <thead>
                            <th>Cart Total</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="py-4">SUBTOTAL</td>
                                <td class="text-end light py-4">$190</td>
                            </tr>
                            <tr>
                                <td class="py-4">DISCOUNT</td>
                                <td class="text-end light">...</td>
                            </tr>
                            <tr>
                                <td class="py-4">TOTAL</td>
                                <td class="text-end light py-4">$190</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table_footer">Proceed To Checkout</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <h2>You May Also Like</h2>
        <div class="row">
            @for (product of products; track $index) {
            <div class="col-md-3 col-12">
                <a routerLink="/single_product">
                    <app-product-card [product]="product" />
                </a>
            </div>
            }
        </div>
    </div>
</div>