:root {
    @media (max-width: 700px) {
        font-size: 0.6rem;
    }
}
body {
    font-family: "Exo", sans-serif !important;
    overflow: hidden;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}
.rtl *{
    direction: rtl;
    font-family: "Cairo", sans-serif !important;
}
