@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main_color: #463452;
    --font_color: #404040;
}
body {
    font-family: "Exo", sans-serif !important;
    height: 50000px;
}
