<div class="intro">
    <app-home-nav />
    <div class="container ">
        <div class="content w-75 mx-auto mt-5 text-center">
            <h1>Wear Class with Confidence</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla nunc in molestie feugiat. Nunc
                auctor consectetur elit, quis pulvina. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                fringilla nunc in molestie feugiat</p>
            <div class="images d-flex gap-2 justify-content-center">
                <img src="homepage/hero_section/1.png" alt="Hero section image">
                <img src="homepage/hero_section/2.png" alt="Hero section image">
                <img src="homepage/hero_section/3.png" alt="Hero section image">
                <img src="homepage/hero_section/4.png" alt="Hero section image">
            </div>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search an item">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
        </div>
    </div>
</div>